*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 12px;
}
a{text-decoration: none;color: black;}
.header{
	width: 100%;
	background: #FFA54F;
}
.tupian_ma{ 
	height:85px;
	width: 140px;
	position: absolute;
	top: 30px;left: 50%;
	margin-left: 500px;
	color: red;
	padding-top: 3px;
 }
.wrap{
	width: 1000px;
	margin: 0 auto;
	height: 400px;
}
.container1{
	width: 100%;
	background-color: #F5F5F5;
}
.title{
	width: 1000px;
	margin: 0 auto;
	height: 30px;
}
.leftArea{
	display: inline-block;
	float: left;
	font-weight: bold;
	line-height: 30px;
}
.rightArea{
	display: inline-block;
	float: right;
	line-height: 30px;
}
.logo{
	width: 1000px;
	margin: 0 auto;
	height: 88px;
}
.container2{
	width: 100%;
	background: #FF8247;
}
.logo img{
	float: left;
}
.input{
	width: 420px;
	height: 40px;
	float: left;
	margin-left: 150px;
	margin-top: 30px;
	position: relative;
}
.input input{border: none;}
.text{
	width: 300px;
	height: 35px;
	border-radius: 10px;
	border-style: none;
	font-size: 16px;
}
.btn{
	width: 50px;
	height: 30px;
	background: #FFD700;
	margin-left: 10px;
	margin-bottom: 0px;
	font-size: 16px;
}
.shopCar{
	width: 150px;
	height: 30px;
	line-height: 30px;
	background: #FFD700;
	float: right;
	margin-top: 33px;
	margin-right: 100px;
	text-align: center;
	font-size: 16px;
}
.daohang{
	width: 1000px;
	margin: 0 auto;
	height: 30px;
}
.fenlei{
	width: 160px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	background: #FF8C69;
	text-align: center;
	float: left;
}
.daohang li{
	list-style: none;
	float: left;
	width: 90px;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	text-align: center;
}
.daohang a{
	text-decoration: none;
	color: #FFFFFF;
}
.daohang a:hover{
	color: red;
}
.sousuo{ position: absolute;margin-left: 10px;margin-top: 5px;  }
.liebiao a{ display: inline-block;width: 10%;text-align: center;color: #fff;padding-top: 5px; }
.liebiao a:hover{ color: red; }
.text{ padding-left: 35px;outline: none; }
.lianjie { float: left;margin-left: 100px; }
.lianjie a { margin-left: 10px;font-size: 20px;font-weight: bold;color: red; }
.footer{width: 100%;height: 230px;background: #EECBAD;margin-top: 40px;}
.footer_wrap{width: 1000px;margin: 0 auto;text-align: center;padding-top: 55px;}
.footer_wrap p{height: 30px;line-height: 30px;}
.footer_wrap img{margin-right: 20px;}